body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #c9d6ca;
}
.navbar {
  width: 80vw;
  height: 10vh;
  position: relative;
  border: 3px solid #4c7759;
  left: 10vw;
  top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: #87d89f;
}
.nav-link {
  text-decoration: none;
  color: #4c7759;
  position: relative;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #4c7759;
  transition: all 0.2s ease-out;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
}
.cal-container {
  width: 85vw;
  height: 70vh;
  background-color: #87d89f;
  border: 3px solid #4c7759;
  border-radius: 30px;
  margin: 10vh auto 5vh auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 6vh repeat(6, 1fr);
  gap: 8px;
  padding: 12px;
  color: #4c7759;
}
.cal-grid-cell {
  border: 2px solid #4c7759;
  height: 11vh;
  border-radius: 5px;
}
.cal-grid-cell_date {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0.3vw;
  font-weight: bold;
}
.now-cell {
  height: 11vh;
  border-radius: 5px;
  background-color: #4c7759;
  color: #87d89f;
}